@charset "UTF-8";

body {
	background-color: #efefef;
	font-family:Arial;
	height: 100%;
	/* width: 100%; */
}

a {
	color: #F00;
	text-decoration:underline;
}
/* タブの形状 */
.tab_menu {
    display: flex;
    flex-wrap: wrap;
	padding-left: 0px;
	margin-top: 10px;
}

.tab_menu li {
	list-style:none;
	transition: .4s;
}
.tab_menu li:hover {
	opacity: .7;
}

.tab_menu li a {
	color: #fff;
	font-weight: bold;
	font-size: 17px;
    display: block;
    background: #7f7f7f;
    padding:10px 20px;
	text-decoration: none;
	border: #000000 solid 1px;
	border-top-left-radius: 8px;
	border-top-right-radius: 8px;
	width: 130px;
	text-align:center;
}
/* liにactiveクラスがついた時の形状 */
.tab_menu li.active a {
	color: #447dcf;
	font-weight: bold;
	background:#fff;
}

/* エリアの表示非表示と形状 */
.area {
	display: none;/* はじめは非表示 */
	opacity: 0;/* 透過0 */
	padding:50px 20px;
}

/* areaにis-activeというクラスがついた時の形状 */
.area.is-active {
    display: block;/*表示*/
    animation-name: displayAnime;/*ふわっと表示させるためのアニメーション*/
    animation-duration: 2s;
    animation-fill-mode: forwards;
}

@keyframes displayAnime{
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

.wait-logo {
	width: 170px;
	height: 50px;
	padding: 10px 0px 0px 35px;
	transition: .4s;
}
/* マウスがボタンに乗ったとき */
.wait-logo:hover {
	opacity: .7;
}

.menu-icon {
	width: 35px;
	height: 30px;
	left: 80%;
	transition: .4s;
	position: relative;
}

#btn-login {
    position: absolute;
	top:90px;
	left: 700px;
	width: 140px;
	height:50px;
	font-size: 18px;
	text-align: center;
	font-weight: bold;
	color: #fff;
	background: #5b9bd5;
	border: 1px solid #4c81ca; /* 太さ 種類 色 */
	border-top-left-radius: 8px;
	border-bottom-right-radius: 8px;
	transition: .4s;
}
/* マウスがボタンに乗ったとき */
#btn-login:hover {
	opacity: .7;
}

#btn-user-regist {
    position: absolute;
	top:90px;
	left: 840px;
	width: 140px;
	height:50px;
	font-size: 18px;
	text-align: center;
	font-weight: bold;
	color: #fff;
	background: #ed7d31;
	border: 1px solid #c55a11; /* 太さ 種類 色 */
	border-top-left-radius: 8px;
	border-bottom-right-radius: 8px;
	transition: .4s;
}
/* マウスがボタンに乗ったとき */
#btn-user-regist:hover {
	opacity: .7;
}

/* ---- login.html ---- */
/*ラジオボタンを全て非表示に*/
input[name="tab-radio"] {
	display: none;
}

.tab-label{
	background-color: #fff;
	color: #447dcf;
	font-weight: bold;
	cursor: pointer;
	font-size: 18px;
	padding: 10px 20px;
	display: block;
	float: left;
	border-top-left-radius: 8px;
	border-top-right-radius: 8px;
	width: 140px;
	text-align: center;
}

/* 選択されたタブの見た目 */
input:checked + h2 > .tab-label{
	color: #000;
	background-color: #fff;
	transition: .3s;
}

.tab-panel{
	background-color: #fff;
	height: 870px;
	clear: both;
}

/* 選択されているチェックボックスに応じてパネルを表示 */
#login-tab:checked ~ .login {
	display: block;
}

.tab-panel-login {
	background: #c55a11;
  	color: #5e5e5e;
  	font: 400 87.5%/1.5em 'Open Sans', sans-serif;
}

.form-wrapper {
	text-align: center;
	background: #b4c7e7;
	padding-top: 30px;
	margin: 3% auto;
	max-width: 400px;
	height: 32%;
}

.form-item {
	color: #fff;
	font-weight: bold;
}

.form-item label {
	font-size: 20px;
	padding: 0px 228px 0px 0px;/* 上、右、下、左 */
}

.form-item-password {
	padding-top: 20px;
}

::placeholder {
	font-size: 13px;
	padding: 0px 5px; /* 上、右 */
	color: #a6a6a6;
}

.form-wrapper input {
	border-radius:0.2rem;
	border: none;
	padding: 8px;
	width: 80%;
}

.form-wrapper p {
	font-size: 13px;
	color: #fff;
	text-align: center;
	padding: 15px 0px 10px;
	font-weight: bold;
}

.form-wrapper a {
	font-weight: normal;
}

.btn-panel_login {
	background: #5b9bd5;
	color: #fff;
	border: 1px solid #4c81ca;
	font-weight: bold; /* 文字を太くする */
	font-size: 19px;
	width: 130px; /* 丸の横幅 */
  	height: 38px; /* 丸の高さ */
	text-align: center;
	border-radius: 6px;
	transition: .4s;
}

/* マウスがボタンに乗ったとき */
.btn-panel_login:hover {
	opacity: .7;
}