@charset "UTF-8";

body {
	background-color: #efefef;
	font-family:Arial;
	height: 100%;
}

.body-container {
	position: relative;
    background-color: #fff; /* 背景色を設定 */
	height: 820px;
	top: -17px; /* 上部に56px移動 */
    padding: 35px 80% 0px 0px; /* 内側の余白を設定 */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* 影を付けて浮き上がらせる */
}

/* タブの形状 */
.tab-menu {
    display: flex;
    flex-wrap: wrap;
	padding-left: 0px;
	margin-top: 10px;
}

.tab-menu li {
	list-style:none;
	transition: .4s;
}

.tab-menu li a {
	color: #fff;
	font-weight: bold;
	font-size: 17px;
    display: block;
    background: #7f7f7f;
    padding:10px 20px;
	text-decoration: none;
	border: #000000 solid 1px;
	border-top-left-radius: 8px;
	border-top-right-radius: 8px;
	width: 130px;
	text-align:center;
}
/* liにactiveクラスがついた時の形状 */
.tab-menu li.active a {
	color: #447dcf;
	font-weight: bold;
	background:#fff;
}

/* エリアの表示非表示と形状 */
.area {
	display: none;/* はじめは非表示 */
	opacity: 0;/* 透過0 */
	padding:50px 20px;
}

/* areaにis-activeというクラスがついた時の形状 */
.area.is-active {
    display: block;/*表示*/
    animation-name: displayAnime;/*ふわっと表示させるためのアニメーション*/
    animation-duration: 2s;
    animation-fill-mode: forwards;
}

@keyframes displayAnime{
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

.wait-logo {
	width: 200px;
	height: 50px;
	padding: 0px 0px 0px 35px;
	transition: .4s;
}

/* ボタンの基本スタイル */
button {
	width: 140px;
	height: 50px;
	font-size: 18px;
	text-align: center;
	font-weight: bold;
	color: #fff;
	border: 1px solid;  /* 太さ 種類 色 */
	border-top-left-radius: 8px;
	border-bottom-right-radius: 8px;
	transition: .4s;
	margin: 5px; /* ボタン同士の間隔を空ける */
}

/* 各ボタンのスタイル */
#btn-login {
	background: #5b9bd5;
	border-color: #4c81ca;
}

#btn-user-regist {
	background: #ed7d31;
	border-color: #c55a11;
}

/* ボタンを右端に固定し横に並べるためのスタイル */
.btn-container {
	position: absolute;
	top: 80px; /* 上からの位置を調整 */
	right: 30px; /* 右端からの位置を調整 */
	display: flex;
	flex-direction: row; /* ボタンを横に並べる */
}

/* マウスがボタンに乗ったとき */
.tab-menu li:hover,
.wait-logo:hover,
#btn-login:hover,
#btn-user-regist:hover {
	opacity: .7;
}