<!-- ログインフォーム -->
<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="./static/css/login.css">
        <link href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" rel="stylesheet">
        <title>ログイン</title>
    </head>
    <body>
        <!-- <a href="/top"><img class="wait-logo" src="static/img/menu_icon.png" alt="メニューボタン"></a> -->
        <input id="login-tab" type="radio" role="tab" name="tab-radio" class="tab-input" value="usage" checked="">
        <label class="tab-label">ログイン</label>
        <div class="tab-panel login" role="tabpanel">
            <a href="/top"><img class="wait-logo" src="static/img/wait_logo.png" alt="ワイトロゴ"></a>
            <div class="form-wrapper">
                <form>
                    <div class="form-item">
                        <div class="form-item_login">
                            <label for="email">ログインID</label><br>
                            <input type="email" name="email" required="required" placeholder="メールアドレス"></input>
                        </div>
                        <div class="form-item_password">
                            <label for="password">パスワード</label><br>
                            <input id="password" type="password" name="password" required="required" placeholder="パスワード"></input>
                            <span id="btn-eye" class="fa fa-eye" onclick="pushHideButton()"></span>
                        </div>
                    </div>
                    <p>メールアドレス/パスワードを忘れた方は<a href="https://www.google.co.jp/">こちら</a></p>
                    <div class="btn-panel">
                        <button class="btn-panel_login" type="submit">ログイン</button>
                    </div>
                </form>
            </div>
        </div>
    </body>
</html>