<!-- マイページフォーム -->
<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- マイページ画面用のCSSファイル読み込み -->
        <link rel="stylesheet" href="./static/css/mypage.css">
        <title>マイページ</title>
    </head>
    <body>
        <div class="sidebar">
            <header>帳簿一覧</header>
            <ul id="accounting">
                <!-- JavaScriptでリスト項目が追加 -->
            </ul>
        </div>
        <script src="./static/js/mypage.js"></script>
    </body>
</html>