<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="utf-8">
        <title>ログイン</title>
        <link rel="stylesheet" href="/static/css/sample.css">
    </head>
    <body>
        <div class="login">
            <div class="login-form">
            <div class="email-left">
                <label for="email">ログインID(メールアドレス)</label>
            </div>
            <div class="control-group">
                <input type="text" class="login-field" value="" placeholder="  メールアドレス" id="login-name">
                <label class="login-field-icon fui-user" for="login-name"></label>
            </div>
            <div class="password-left">
                <label for="password">パスワード</label><br>
            </div>
            <div class="control-group">
                <input type="password" class="login-field" value="" placeholder="  パスワード" id="login-pass">
                <label class="login-field-icon fui-lock" for="login-pass"></label>
            </div>
            <div class="checkbox-frame">
                <div class="checkbox-background">
                    <div input class="checkbox-style" type="checkbox" id="acceptpolicy" name="acceptpolicy" value="true">
                        <label class="checkbox-label" for="acceptpolicy">
                            次回以降、メールアドレス/パスワードの入力を省略する
                        </label><br>
                    </div>
                </div>
            </div>
            <div class="forget-info-link">
                <a>メールアドレス/パスワードを忘れた方は</a>
                <a class="forget-info-link-color" href="https://codeprep.jp/"
                    target="_blank" rel="noopener noreferrer">
                    こちら
                </a>
            </div>
            <a class="btn btn-primary btn-large btn-block" href="#">ログイン</a>
        </div>
    </body>
</html>