<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="utf-8">
        <title>入力フォーム</title>
        <link rel="stylesheet" href="./static/css/sample.css">
        <script src='https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js'></script>
        <script src="./static/js/sample_n.js"></script>
    </head>
    <body>
        <form>
            <label>必須入力チェック
                <input type="password" name="length" minlength="8" maxlength="20" name="required" required></label>
            </label>

            <button type="submit">送信</button>
        </form>
        <label>フォームの送信値は次の通りです</label>
        <ul class="result"></ul>
    </body>
</html>
