<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="utf-8">
    <title>サンプル画面タイトル文字列</title>
    <script src="./static/js/sample.js"></script>
  </head>

  <body>
    <p>テキストボックス1:<br>
      <input type="text" name="sample_textbox1">
    </p>
    <p>パスワードテキストボックス1:<br>
      <input type="password" id="password_sample_textbox1">
      <input type="button" value="サンプルボタン1" id="button1" onclick="onClickButton1();">
    </p>
    <label>
      <input type="checkbox" id="checkbox_sample" value="true">
      チェックボックスのサンプルです。
    </label>
  </body>
</html>