<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="UTF-8">
        <title>css練習</title>
        <link rel="stylesheet" href="static/css/sample.css">
    </head>
    <body>
        <fieldset class="fieldset1">
            <legend class="date1">データ1</legend>
            <ul>
                <li class="code_one">クラス名[code_one]のli要素</li>
                <li class="prep_two">クラス名[prep_two]のli要素</li>
                <li class="code_three">クラス名[code_three]のli要素</li>
                <li class="code_four">クラス名[code_four]のli要素</li>
                <li class="prep_five">クラス名[prep_five]のli要素</li>
            </ul>
        </fieldset>
        <fieldset>
            <legend class="date2">データ2</legend>
            <ul>
                <li class="dog_code">クラス名[dog_code]のli要素</li>
                <li class="cat_code">クラス名[cat_code]のli要素</li>
                <li class="pig_prep">クラス名[pig_prep]のli要素</li>
                <li class="bear_code">クラス名[bear_code]のli要素</li>
            </ul>
        </fieldset>
        <fieldset>
            <legend class="date3">データ3</legend>
            <h2>1つ目のdiv要素</h2>
            <div>
                <p>1つ目のdiv要素の中で最初に位置する「p要素」</p>
                <p>1つ目のdiv要素の中で2番目に位置する「p要素」</p>
            </div>
            <h2>2つ目のdiv要素</h2>
            <div>
                <p>2つ目のdiv要素の中で最初に位置する「p要素」</p>
                <p>2つ目のdiv要素の中で2番目に位置する「p要素」</p>
            </div>
            <h2>3つ目のdiv要素</h2>
            <div>
                <p>3つ目のdiv要素の中で最初に位置する「p要素」</p>
                <p>3つ目のdiv要素の中で2番目に位置する「p要素」</p>
            </div>
        </fieldset>
    </body>
</html>