<!-- トップページ -->
<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="utf-8">
        <title>トップページ</title>
        <link rel="stylesheet" href="./static/css/top.css">
        <script src="https://kit.fontawesome.com/be91c86e75.js" crossorigin="anonymous"></script>
    </head>
    <body>
        <!-- 画面右上部のハンバーガーメニューアイコン -->
        <a href="/top" class="global_setting"><img src="static/img/global_setting.png" alt="メニューボタン"></a>
        <ul class="tab-menu">
            <li>
                <a href="#registered">登録済みの方</a>
            </li>
            <li>
                <a href="#unregistered">未登録の方</a>
            </li>
            <li>
                <a href="#usage">使い方</a>
            </li>
        </ul>
        <div class="body-container">
            <div class="body-header">
                <a href="/top"><img class="wait-logo" src="static/img/wait-logo.png" alt="ワイトロゴ"></a>
                <div class="btn-container">
                    <a href="/login"><button id="btn-login">ログイン</button></a>
                    <a href="/user_regist"><button id="btn-user-regist">ユーザー登録</button></a>
                </div>
            </div>
            <div id="registered" class="area">
                <ul class="nav-list">
                    <li class="nav-item">帳票をつける</li>
                    <li class="nav-item">帳簿を確認する</li>
                    <li class="nav-item">帳簿を出力する</li>
                    <li class="nav-item">申告書を作成する</li>
                </ul>
            </div><!--/area-->
            <div id="unregistered" class="area">
                <ul class="nav-list">
                    <li class="nav-item">登録方法</li>
                    <li class="nav-item">登録後に出来ること</li>
                    <li class="nav-item">よくある質問</li>
                    <li class="nav-item">お知らせについて</li>
                </ul>
            </div><!--/area-->
            <div id="usage" class="area">
                <ul class="nav-list">
                    <li class="nav-item">帳簿の付け方</li>
                    <li class="nav-item">帳簿の確認方法</li>
                    <li class="nav-item">帳簿の出力方法</li>
                    <li class="nav-item">申告書の作成方法</li>
                </ul>
            </div><!--/area-->
        </div>
        <script src="https://code.jquery.com/jquery-3.4.1.min.js"
            integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous">
        </script>
        <script src="./static/js/top_tab_ctrl.js"></script>
        <script src="./static/js/top_btn_ctrl.js"></script>
    </body>
</html>