<!-- トップページ -->
<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="utf-8">
        <title>トップページ</title>
        <link rel="stylesheet" href="./static/css/sample.css">
        <script src="https://kit.fontawesome.com/be91c86e75.js" crossorigin="anonymous"></script>
    </head>
    <body>
        <div class="header_tab">
            <ul class="tab_menu">
                <li class="header_tab_registered">
                    <a href="./registered/" class="header_tab_registered_link">登録済みの方</a>
                </li>
                <li class="header_tab_unregistered">
                    <a href="./unregistered/" class="header_tab_unregistered_link">未登録の方</a>
                </li>
                <li class="header_tab_usage">
                    <a href="./usage/" class="header_tab_usage_link">使い方</a>
                </li>
            </ul>
        </div>
        <script src="https://code.jquery.com/jquery-3.4.1.min.js"
                integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
        <script src="./static/js/sample_n.js"></script>
    </body>
</html>