<!-- ユーザー登録フォーム -->
<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <!-- ログイン画面用のCSSファイル読み込み -->
    <link rel="stylesheet" href="./static/css/user_regist.css">
    <!-- パスワード用の目のアイコンを読み込み -->
    <link href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" rel="stylesheet">
    <!-- パスワード用の目のアイコンクリック時の処理 -->
    <script src="./static/js/password_icon.js"></script>
    <title>ログイン</title>
</head>
<body>
    <!-- 画面右上部のハンバーガーメニューアイコン -->
    <a href="/top" class="menu-icon"><img src="static/img/menu-icon.png" alt="メニューボタン"></a>
    <!-- ログインタブのラベル -->
    <label class="tab-label">ログイン</label>

    <div class="login-tab" role="tabpanel">
        <a href="/top"><img class="wait-logo" src="static/img/wait-logo.png" alt="ワイトロゴ"></a>
        <div class="form-wrapper">
            <form>
                <div class="form-item">
                    <div class="form-item_login-id">
                        <label for="email">ログインID</label>
                        <input type="email" name="email" required="required" placeholder="メールアドレス"></input>
                    </div>
                    <div class="form-item_password">
                        <label for="password">パスワード</label>
                        <div class="form-item_password-input">
                            <input id="password" type="password" name="password" required="required" placeholder="パスワード"></input>
                            <button id="view" onclick="onClickView()" for="password" class="far fa-eye" type="button"></button>
                        </div>
                    </div>
                </div>
                <p>メールアドレス / パスワードを忘れた方は<a href="https://www.google.co.jp/">こちら</a></p>
                <button class="btn-panel_login" type="submit">ログイン</button>
            </form>
        </div>
    </div>
</body>
</html>
<!-- <html lang="ja">
    <head>
        <meta charset="UTF-8">
        <title>Title</title>
    </head>
    <body>
        <div class="body-header">
            <a href="/top"><img class="wait-logo" src="static/img/wait-logo.png" alt="ワイトロゴ"></a>
        </div>
    </body>
</html>
<form method="post" action="">
    <div class="registration_container">
        <div class="email_form">
            <p>登録するメールアドレス</p>
            <input type="email" name="email" id="email" placeholder="sample@gmail.com" autofocus required>
        </div>
        <div class="password_form">
            <p>パスワード</p>
            <input type="password" name="password" name="length" id="password" minlength="8" maxlength="20" placeholder="半角英数8文字以上20以下" required>
        </div>
        <div class="re_password_form">
            <p>パスワード再入力</p>
            <input type="password" name="password" name="length" id="re_password" minlength="8" maxlength="20" placeholder="半角英数8文字以上20以下" required>
        </div>
    </div>
    <button id="btn_regist" type="submit">ユーザー登録</button>
    <i class="fa-regular fa-face-laugh" style="color: #ee9211;"></i>
</form> -->