<!-- ユーザー登録タブ -->
<html lang="ja">
    <head>
        <meta charset="UTF-8">
        <title>Title</title>
    </head>
    <body>
        <div class="body-header">
            <a href="/top"><img class="wait-logo" src="static/img/wait-logo.png" alt="ワイトロゴ"></a>
        </div>
    </body>
</html>
<!-- <form method="post" action="">
    <div class="registration_container">
        <div class="email_form">
            <p>登録するメールアドレス</p>
            <input type="email" name="email" id="email" placeholder="sample@gmail.com" autofocus required>
        </div>
        <div class="password_form">
            <p>パスワード</p>
            <input type="password" name="password" name="length" id="password" minlength="8" maxlength="20" placeholder="半角英数8文字以上20以下" required>
        </div>
        <div class="re_password_form">
            <p>パスワード再入力</p>
            <input type="password" name="password" name="length" id="re_password" minlength="8" maxlength="20" placeholder="半角英数8文字以上20以下" required>
        </div>
    </div>
    <button id="btn_regist" type="submit">ユーザー登録</button>
    <i class="fa-regular fa-face-laugh" style="color: #ee9211;"></i>
</form> -->